.character-detail {
    background-color: #fff;
    min-height: 75vh;
    margin-top: 20px;

    .character-detail-card {
        display: flex;
        margin: 20px 0;

        @media (max-width: 900px) {
            flex-wrap: wrap;
        }
    }
    .character-detail-card-description {
        margin-top: 10px;
        padding: 20px;
        margin-bottom: 20px;

        > div:last-child {
            margin-top: 10px;
        }
    }
    .character-detail-info-container {
        font-size: 20px;
        display: flex;
        margin-top: 10px;
        margin-left: 20px;
        flex-wrap: wrap;
    }
    .character-detail-info-header-container {
        display: flex;
        flex: 1 1;
        flex-direction: column;
        margin-left: 20px;
        @media (max-width: 900px) {
            margin-top: 20px;
        }
    }
    .link {
        text-decoration: none;
    }
    .info {
        width: 100%;
        margin-top: 2rem;
    }
    .info:first-child {
        @media (max-width: 900px) {
            margin-top: 20px;
        }

        @media (min-width: 900px) and(max-width: 1200px) {
            margin-top: 20px;
            width: 100%;
        }
    }
    .info:not(:first-child) {
        flex: 1 1;

        @media (max-width: 1200px) {
            margin-top: 20px;
            flex: 1 1 100%;
            margin-bottom: 20px;
        }

        @media (max-width: 900px) {
            margin-bottom: 20px;
        }
    }
    .character-detail-card-content {
        width: 100vw;
    }
    .character-image {
        position: relative;
        @media (max-width: 900px) {
            display: flex;
            justify-content: center;
            width: 100vw;
        }
        > img {
            width: 350px;
            height: 100%;
            @media (max-width: 1200px) {
                height: 500px;
            }
        }
    }
    .change-quote-button {
        margin-top: 1rem;
    }
}
